.container{
    width:80%;
    height:auto;
}

.foot{
    /* position:fixed; */
    left:10%;
    bottom:0;
    width:80%;
    text-align: center;
}

/* sachin creation */
.input-group {
    padding-top: 50px;
}